:root {
  --color-yellow-100: #ffec93;
  --color-yellow-300: #f6cc28;
  --color-yellow-500: #d3a905;
  --color-dark-300: #242424;
  --color-dark-500: #151515;
  --color-light-300: #fff;
  --color-light-500: #bdbdbd;
  --color-danger-300: #c71515
}

